# Ignore folder
__pycache__/
.env/
venv/
.tox/
.vscode/
htmlcov/
build/
dist/
*.egg-info/
_build/
docs/._*
Results*/
.idea/
.ipynb_checkpoints/

# Ignore file
*.vol.gz
*.pyc
.coverage
.coveragerc
*.vtu
.DS_Store
ng.ini
*.swp
impedance.csv
*checkpoints.ipynb
*.nii.gz
*.nii
success_*.txt
fail_*.txt
test_input_cases_results.csv
*.stp
ngmesh.ini
examples/StimulationSignalAPI/*.pdf
x86_64/

meshsizes.txt
