# Ignore folder
__pycache__/
.env/
venv/
.tox/
.vscode/
htmlcov/
build/
dist/
*.egg-info/
_build/
docs/._*

# Ignore file
*.pyc
.coverage
.coveragerc
*.vtu
.DS_Store

case*/
ng.ini

*.swp
test_cases/input_case2/micro_probes_SNEX100_custom.json
input_files/impedance.csv
*checkpoints.ipynb
