# Ignore folder
__pycache__/
.env/
venv/
.tox/
.vscode/
htmlcov/
build/
dist/
*.egg-info/
_build/
docs/._*
.idea/
.ipynb_checkpoints/

# Ignore file
*.pyc
.coverage
.coveragerc
*.vtu
.DS_Store
*.vol.gz

case*/
ng.ini

*.swp
test_cases/input_case2/micro_probes_SNEX100_custom.json
input_files/impedance.csv
*checkpoints.ipynb
input_files/Results
input_files/ResultsCC
success_oss.txt
*.nii.gz
*.nii
