prune tests
prune examples
prune input_files
prune input_test_cases
prune .github

exclude .gitignore
exclude .gitlab-ci.yml
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude setup.py
exclude build_merged.py

recursive-include docs *.dia
recursive-include docs *.ipynb
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.txt
recursive-include docs Makefile

recursive-include ossdbs *.py
recursive-include ossdbs *.hoc
recursive-include ossdbs *.html
recursive-include ossdbs *.md
recursive-include ossdbs *.mod
recursive-include ossdbs *.txt
recursive-include ossdbs *.ses
recursive-include leaddbsinterface *.py

include README.md
include LICENSE
include pyproject.toml
include *.cff
